##################################################
# Project files/folders 
##################################################

build/*

transcript
fusesoc.log


##################################################
# Software
##################################################

# Assembly
*.elf
*.lst

# Python
__pycache__/
*.py[cod]
*$py.class

