##################################################
# Project files/folders 
##################################################

*.log

##################################################
# Software
##################################################

# Assembly/C
*.o
*.elf
*.lst

# Python
__pycache__/
*.py[cod]
*$py.class

# Scripts
scripts/sub-analyzer/test/*.c
scripts/sub-analyzer/test/*.S

##################################################
# Fusesoc
##################################################

*transcript
build/*
scripts/sub-analyzer/build/*
